{% extends 'base.html' %} {% block content%}
<h1>Список заказанных товаров</h1>
<h2>За последние 7 дней</h2>
<ul>
  {% for product in client_buy_last_7_days%}
  <li>{{ product.name }} - {{ product.price }}</li>
  {% endfor %}
</ul>

<h2>За последние 30 дней</h2>
<ul>
  {% for product in client_buy_last_30_days%}
  <li>{{ product.name }} - {{ product.price }}</li>
  {% endfor %}
</ul>

<h2>За последние 365 дней</h2>
<ul>
  {% for product in client_buy_last_365_days%}
  <li>{{ product.name }} - {{ product.price }}</li>
  {% endfor %}
</ul>
{% endblock %}
